---
import { HiMiniCheckBadge } from 'react-icons/hi2/index.js';
import AdCard from './ad-card.astro';

import mock from 'assets/mock-2.png';
---

<AdCard icon={HiMiniCheckBadge} title="Website & Socials" niche="Management" image={mock} alt="">
	<p>hi was geht</p>
</AdCard>
