---
import { TbBulbFilled } from 'react-icons/tb/index.js';
import AdCard from './ad-card.astro';

import mock from 'assets/mock-2.png';
---

<AdCard icon={TbBulbFilled} title="MVP" niche="Development" image={mock} alt="">
	<p>hi was geht</p>
</AdCard>
