---
import type { IconType } from 'react-icons/lib';

interface Props {
	title: string;
	icon: IconType;
}

const { title } = Astro.props;
---

<li class="contents">
	<div class="text-sm uppercase">
		<span class="font-medium">{title}</span>
	</div>
	<div class="">
		<slot />
	</div>
</li>
