---

---

<header class="sticky top-0 bg-white/70 px-4 py-3 backdrop-blur-sm sm:px-12 lg:sr-only">
	<div class="mx-auto w-full max-w-7xl">
		<h3 class="text-sm font-bold uppercase tracking-widest"><slot /></h3>
	</div>
</header>
