---
interface Props extends astroHTML.JSX.HTMLAttributes {}

const props = Astro.props;
---

<style>
	/* Core functionality */
	div {
		display: flex;
		flex-flow: row nowrap;
		align-items: center;
		overflow: hidden;
	}
	span {
		white-space: nowrap;
		animation: marquee 10s linear infinite;
		max-width: none;
	}

	@keyframes marquee {
		0% {
			transform: translate(0, 0);
		}
		100% {
			transform: translate(-100%, 0);
		}
	}

	/* Styles for the sake of the demonstration */
	div {
	}

	span {
		font-family: 'Kanit', sans-serif;
	}
</style>

<div {...props}>
	<span><slot /></span>
	<span><slot /></span>
	<span><slot /></span>
	<span><slot /></span>
</div>
