---
import clsx from 'clsx';
import { BsTwitterX, BsGithub, BsLinkedin, BsInstagram } from 'react-icons/bs/index.js';

interface Props extends astroHTML.JSX.HTMLAttributes {
	theme?: 'light' | 'dark';
}

const { theme = 'light', class: className } = Astro.props;

const socials = [
	{
		icon: BsInstagram,
		href: '',
	},
	{
		icon: BsLinkedin,
		href: '',
	},
	{
		icon: BsTwitterX,
		href: '',
	},
	{
		icon: BsGithub,
		href: '',
	},
];
---

<ul class={clsx('flex flex-row space-x-4', className)}>
	{
		socials.map(({ icon: Icon, href }) => (
			<li>
				<a
					href={href}
					rel="noopener noreferrer"
					target="_blank"
					class={clsx(
						'transition-colors',
						theme === 'light' && 'text-neutral-600 hover:text-black',
						theme === 'dark' && 'text-neutral-400 hover:text-white',
					)}
				>
					<Icon size={24} />
				</a>
			</li>
		))
	}
</ul>
