---
import { BaseLayout } from '../../layouts';

console.log(Astro.request.headers.get('accept-language'));
---

<BaseLayout title="Contact"> <p class="pt-24 text-white">English Contact</p> </BaseLayout>
