---
import { MastheadAnimations } from 'components/react/masthead-animations';
import { Header } from 'components/page';
import { getTranslation } from 'utils/i18n';

const translations = {
	de: {
		heading1: 'Digitale Projekte für kleine',
		heading2: 'und mittelständische Unternehmen.',
		tagline: 'Ihr Partner für komplexe IT.',
	},
	en: {
		heading1: 'Crafting digital experiences for',
		heading2: 'small and medium-sized enterprises.',
		tagline: 'Your partner for complex projects.',
	},
};

const translation = getTranslation(Astro.currentLocale, translations);
---

<section
	id="masthead"
	style={{ transform: 'translate3d(0,0,0)' }}
	class="sticky top-0 flex min-h-screen flex-col bg-black"
>
	<Header />
	<div class="flex flex-1 flex-col px-4 py-16 md:px-16">
		<div class="mx-auto flex w-full max-w-7xl flex-1 flex-col">
			<div class="mb-auto flex-1"></div>
			<div class="z-10 flex flex-col">
				<h1 class="mt-24 text-xl text-white sm:text-3xl">
					{translation.heading1}<br />{translation.heading2}
				</h1>
				<span class="text-md mt-3 text-gray-100 sm:text-xl">{translation.tagline}</span>
			</div>
			<MastheadAnimations currentLocale={Astro.currentLocale} client:load />
		</div>
	</div>
</section>
