---
import { MastheadAnimations } from 'components/react/masthead-animations';
import { Header } from 'components/page';
---

<section
	id="masthead"
	style={{ transform: 'translate3d(0,0,0)' }}
	class="sticky top-0 flex min-h-screen flex-col bg-black"
>
	<Header />
	<div class="flex flex-1 flex-col px-4 py-16 md:px-16">
		<div class="mx-auto flex w-full max-w-7xl flex-1 flex-col">
			<div class="mb-auto flex-1"></div>
			<div class="pointer-events-none z-[2] flex flex-col">
				<h1 class="mt-24 text-xl text-white sm:text-3xl">
					Crafting digital experiences for<br />small and medium-sized enterprises.
				</h1>
				<span class="text-md mt-3 text-gray-100 sm:text-xl">Your partner for digital projects.</span>
			</div>
			<MastheadAnimations client:load />
		</div>
	</div>
</section>
