---
import { LuArrowRight } from 'react-icons/lu/index.js';
import { Anchor, Button } from '../astro';
---

<section
	style={{ transform: 'translate3d(0,0,0)' }}
	class="flex flex-col bg-black px-4 pb-16 pt-24 text-white sm:px-12"
>
	<div class="mx-auto flex w-full max-w-7xl flex-col items-start justify-between sm:flex-row sm:items-center">
		<div>
			<h2 class="text-3xl font-medium sm:text-5xl">Lets connect!</h2>
			<p class="mt-1">Setting up a call takes less than a minute of your time.</p>
		</div>

		<Button
			size="lg"
			theme="primary"
			icon={LuArrowRight}
			class="mt-3 sm:mt-0"
			onclick="Calendly.initPopupWidget({url: 'https://calendly.com/mail-quu9'});return false;"
		>
			Schedule call</Button
		>
	</div>
	<div class="mx-auto mt-5 flex w-full max-w-7xl flex-col">
		<p class="">
			Or <a class="text-blue-400 hover:underline" href="/contact">{' '}leave a message{' '}</a> and I will get back
			to you within 24 hours.
		</p>
	</div>
</section>
{
	/*<div class="max-w-7xl w-full mx-auto flex flex-col">
		<span class="my-7 text-neutral-200">or leave a message below and I will get back to you within 24 hours.</span>
		<ContactForm client:load className="flex-1" />
	</div>*/
}
