---
import { LuArrowRight } from 'react-icons/lu/index.js';

import { Anchor } from '../astro';
import { TestimonialSlider } from '../react';
---

<section style={{ transform: 'translate3d(0,0,0)' }} class="bg-black pb-16 pt-24 text-white">
	<div class="px-4 sm:px-12">
		<div class="mx-auto flex w-full max-w-7xl flex-col pb-16 pt-16">
			<span class="mb-1 text-neutral-200">Don't take my word for it:</span>
			<h2 class="mb-12 text-5xl">What other bussineses say about me</h2>
		</div>
	</div>
	<TestimonialSlider client:load />
	<div class="px-4 sm:px-12">
		<div class="mx-auto flex w-full max-w-7xl flex-col items-start">
			<Anchor href="/contact" size="lg" icon={LuArrowRight} class="mt-7" theme="primary"
				>Let's work together</Anchor
			>
		</div>
	</div>
</section>
