---
import { BaseLayout } from 'layouts';
import { CVHeader, CVExperienceCard, CVProjectCard, CVContent } from 'components/astro';

// have a CV online like https://brittanychiang.com

import service1 from 'assets/service-1.jpg';
import { Socials } from 'components/astro';
import type { InferGetStaticParamsType } from 'astro';

export async function getStaticPaths() {
	const pages = [{ lang: 'en' }, { lang: 'de' }];
	return pages.map(({ lang }) => ({ params: { lang } }));
}

type Params = InferGetStaticParamsType<typeof getStaticPaths>;

const { lang } = Astro.params as Params;

const links = [
	{ href: '#about', label: 'Infos', id: 'cv-about' },
	{ href: '#experience', label: 'Lebenslauf', id: 'cv-experience' },
	{ href: '#projects', label: 'Arbeiten', id: 'cv-work' },
];
---

<BaseLayout lang={lang} class="relative bg-white" title="Simon Schwitzky">
	<main class="flex flex-col transition-[padding] lg:px-12">
		<div class="mx-auto flex w-full max-w-7xl flex-1 flex-col lg:flex-row">
			<CVContent className="pt-12 lg:sticky lg:top-0 lg:h-min lg:flex-1 lg:pr-24 lg:pt-16">
				<h1 class="text-3xl font-medium lg:whitespace-nowrap">Simon Schwitzky</h1>
				<h2 class="mt-2 text-lg font-medium lg:whitespace-nowrap">Senior App Developer</h2>
				<p class="mt-4 lg:whitespace-nowrap">
					I build pixel-perfect, engaging, and
					<br />
					accessible digital experiences.
				</p>
				<nav class="mb-8 mt-16 hidden lg:flex">
					<ul class="flex flex-col space-y-2">
						{
							links.map((link) => (
								<li>
									<a id={link.id} href={link.href} class="cv-navlink group flex items-center">
										<span class="mr-4 block h-px w-12 bg-gray-400 transition-all group-hover:w-16 group-hover:bg-gray-800 group-[.active]:w-16 group-[.active]:bg-gray-800" />
										<span class="text-xs font-medium uppercase text-gray-600 transition-colors group-hover:text-gray-800 group-[.active]:text-gray-800">
											{link.label}
										</span>
									</a>
								</li>
							))
						}
					</ul>
				</nav>
				<Socials class="mt-8" />
			</CVContent>

			<div class="flex h-full flex-col">
				<section data-navlink="cv-about" id="about" class="pb-16 pt-24">
					<CVHeader>Infos</CVHeader>
					<CVContent className="mt-4">
						<p>
							Back in 2012, I decided to try my hand at creating custom Tumblr themes and tumbled head
							first into the rabbit hole of coding and web development. Fast-forward to today, and I’ve
							had the privilege of building software for an advertising agency, a start-up, a huge
							corporation, and a digital product studio.
							<br /><br />
							My main focus these days is building accessible user interfaces for our customers at Klaviyo.
							I most enjoy building software in the sweet spot where design and engineering meet — things that
							look good but are also built well under the hood. In my free time, I've also released an online
							video course that covers everything you need to know to build a web app with the Spotify API.
							<br /><br />
							When I’m not at the computer, I’m usually rock climbing, reading, hanging out with my wife and
							two cats, or running around Hyrule searching for Korok seeds Korok seeds.
						</p>
					</CVContent>
				</section>

				<section data-navlink="cv-experience" id="experience" class="pb-16 pt-24">
					<CVHeader>Lebenslauf</CVHeader>
					<CVContent as="ul" className="mt-4" wrapperClassName="space-y-12">
						<CVExperienceCard
							time="2024 — Present"
							role="Senior Frontend Engineer, Accessibility"
							org="Klaviyo"
							href="https://stackoverflow.com/questions/4331975/is-it-semantically-correct-to-nest-an-article-element-within-a-li-element"
							tools={['JavaScript', 'TypeScript', 'React', 'Storybook']}
						>
							Build and maintain critical components used to construct Klaviyo’s frontend, across the
							whole product. Work closely with cross-functional teams, including developers, designers,
							and product managers, to implement and advocate for best practices in web accessibility.
						</CVExperienceCard>
						<CVExperienceCard
							time="2024 — Present"
							role="Senior Frontend Engineer, Accessibility"
							org="Klaviyo"
							href="https://stackoverflow.com/questions/4331975/is-it-semantically-correct-to-nest-an-article-element-within-a-li-element"
							tools={['JavaScript', 'TypeScript', 'React', 'Storybook']}
						>
							Build and maintain critical components used to construct Klaviyo’s frontend, across the
							whole product. Work closely with cross-functional teams, including developers, designers,
							and product managers, to implement and advocate for best practices in web accessibility.
						</CVExperienceCard>
						<CVExperienceCard
							time="2024 — Present"
							role="Senior Frontend Engineer, Accessibility"
							org="Klaviyo"
							href="https://stackoverflow.com/questions/4331975/is-it-semantically-correct-to-nest-an-article-element-within-a-li-element"
							tools={['JavaScript', 'TypeScript', 'React', 'Storybook']}
						>
							Build and maintain critical components used to construct Klaviyo’s frontend, across the
							whole product. Work closely with cross-functional teams, including developers, designers,
							and product managers, to implement and advocate for best practices in web accessibility.
						</CVExperienceCard>
						<CVExperienceCard
							time="2024 — Present"
							role="Senior Frontend Engineer, Accessibility"
							org="Klaviyo"
							href="https://stackoverflow.com/questions/4331975/is-it-semantically-correct-to-nest-an-article-element-within-a-li-element"
							tools={['JavaScript', 'TypeScript', 'React', 'Storybook']}
						>
							Build and maintain critical components used to construct Klaviyo’s frontend, across the
							whole product. Work closely with cross-functional teams, including developers, designers,
							and product managers, to implement and advocate for best practices in web accessibility.
						</CVExperienceCard>
						<CVExperienceCard
							time="2024 — Present"
							role="Senior Frontend Engineer, Accessibility"
							org="Klaviyo"
							href="https://stackoverflow.com/questions/4331975/is-it-semantically-correct-to-nest-an-article-element-within-a-li-element"
							tools={['JavaScript', 'TypeScript', 'React', 'Storybook']}
						>
							Build and maintain critical components used to construct Klaviyo’s frontend, across the
							whole product. Work closely with cross-functional teams, including developers, designers,
							and product managers, to implement and advocate for best practices in web accessibility.
						</CVExperienceCard>
						<CVExperienceCard
							time="2024 — Present"
							role="Senior Frontend Engineer, Accessibility"
							org="Klaviyo"
							href="https://stackoverflow.com/questions/4331975/is-it-semantically-correct-to-nest-an-article-element-within-a-li-element"
							tools={['JavaScript', 'TypeScript', 'React', 'Storybook']}
						>
							Build and maintain critical components used to construct Klaviyo’s frontend, across the
							whole product. Work closely with cross-functional teams, including developers, designers,
							and product managers, to implement and advocate for best practices in web accessibility.
						</CVExperienceCard>
					</CVContent>
				</section>

				<section data-navlink="cv-work" id="projects" class="pb-16 pt-24">
					<CVHeader>Arbeiten</CVHeader>
					<CVContent as="ul" className="mt-4" wrapperClassName="space-y-12">
						<CVProjectCard
							title="Build a Spotify connected app"
							href="/"
							image={{ alt: '', src: service1 }}
							tools={['Test', 'Asbest']}
							links={[
								{ label: 'iOS App', href: '' },
								{ label: 'Android App', href: '' },
							]}
						>
							Video course that teaches how to build a web app with the Spotify Web API. Topics covered
							include the principles of REST APIs, user auth flows, Node, Express, React, Styled
							Components, and more.
						</CVProjectCard>
						<CVProjectCard
							title="Spotify Profile"
							href="/"
							image={{ alt: '', src: service1 }}
							tools={['React', 'Express', 'Spotify API', 'Heroku']}
						>
							Video course that teaches how to build a web app with the Spotify Web API. Topics covered
							include the principles of REST APIs, user auth flows, Node, Express, React, Styled
							Components, and more.
						</CVProjectCard>
						<CVProjectCard
							title="Halcyion Theme"
							href="/"
							image={{ alt: '', src: service1 }}
							tools={['Test', 'Asbest']}
						>
							Minimal dark blue theme for VS Code, Sublime Text, Atom, iTerm, and more.
						</CVProjectCard>
					</CVContent>
				</section>
			</div>
		</div>
	</main>
</BaseLayout>

<script>
	const sections = document.querySelectorAll('[data-navlink]');
	const navlinks = document.querySelectorAll('.cv-navlink');

	function updateNavbar() {
		let highlightID = 'cv-about';
		sections.forEach((section) => {
			if (section.getBoundingClientRect().top <= 0) {
				const attributeValue = section.getAttribute('data-navlink');
				if (attributeValue !== null) {
					highlightID = attributeValue;
				}
			}
		});

		navlinks.forEach((navlink) => navlink.classList.remove('active'));
		const target = document.getElementById(highlightID);
		if (target !== null) {
			target.classList.add('active');
		}
	}

	window.addEventListener('scroll', updateNavbar);
	updateNavbar();
</script>
