---
import { BaseLayout } from 'layouts';

// https://webandcrafts.com
// https://dribbble.com/shots/22711042-Photographer-Landing-Page
// https://www.amernazir.com

// blog https://www.dhiwise.com/post/The%20Role%20of%20React%20Three%20Fiber%20in%20the%20Evolution%20of%20User%20Interface%20Design

// fix safari z-index bug https://stackoverflow.com/questions/50224855/not-respecting-z-index-on-safari-with-position-sticky

//https://codepen.io/vcomics/pen/djqNrm

import {
	AboutSection,
	MastheadSection,
	WorkSection,
	TestimonialsSection,
	HireMeSection,
	EditorialSection,
	ScheduleCallSection,
} from '../components/sections';
import { NewsletterSection } from '../components/sections';

let renderMasthead = false;
let renderAbout = false;
let renderWork = true;
let renderTestimonials = false;
let renderNewsletter = false;
let renderHireMe = false;
let renderEditorial = false;
let renderScheduleCall = false;

if (true) {
	renderMasthead = true;
	renderAbout = true;
	renderWork = true;
	renderTestimonials = true;
	renderNewsletter = false;
	renderHireMe = true;
	renderEditorial = true;
	renderScheduleCall = true;
}

if (import.meta.env.PROD) {
	renderMasthead = true;
	renderAbout = true;
	renderWork = true;
	renderTestimonials = true;
	renderNewsletter = false;
	renderHireMe = true;
	renderEditorial = true;
	renderScheduleCall = true;
}

// TODO: explain somewhere why I do not need a cookie disclaimer
---

<BaseLayout title="Simon Schwitzky">
	<main class="flex flex-1 flex-col">
		{renderMasthead ? <MastheadSection /> : <div class="flex-1 pt-24" />}
		{renderAbout && <AboutSection />}
		{renderWork && <WorkSection />}
		{renderTestimonials && <TestimonialsSection />}
		{renderNewsletter && <NewsletterSection />}
		{renderHireMe && <HireMeSection />}
		{renderEditorial && <EditorialSection />}
		{renderScheduleCall && <ScheduleCallSection />}
	</main>
</BaseLayout>
