---
import { PageLayout } from '../layouts';
---

<PageLayout title="Selfiemate">
	<main class="flex-1 px-4 md:px-16">
		<div class="w-full max-w-7xl mx-auto py-24 flex flex-col">
			<section
				class="elementor-section elementor-top-section elementor-element elementor-element-d11b454 elementor-section-boxed elementor-section-height-default elementor-section-height-default"
				data-id="d11b454"
				data-element_type="section"
				data-settings='{"background_background":"classic"}'
			>
				<div class="elementor-container elementor-column-gap-default">
					<div class="elementor-row">
						<div
							class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-e8228f"
							data-id="e8228f"
							data-element_type="column"
						>
							<div class="elementor-column-wrap elementor-element-populated">
								<div class="elementor-widget-wrap">
									<div
										class="elementor-element elementor-element-24c93aa elementor-widget elementor-widget-text-editor"
										data-id="24c93aa"
										data-element_type="widget"
										data-widget_type="text-editor.default"
									>
										<div class="elementor-widget-container">
											<div class="elementor-text-editor elementor-clearfix">
												<p>
													1. Information über die Erhebung personenbezogener Daten und
													Kontaktdaten des Verantwortlichen
													<br />
													 2. Datenerfassung beim Besuch unserer Website
													<br />
													 3. Cookies
													<br />
													 4. Datenverarbeitung zur Bestellabwicklung
													<br />
													 5. Datenverarbeitung bei Eröffnung eines Kundenkontos und zur Vertragsabwicklung
													<br />
													 6. Kontaktaufnahme
													<br />
													 7. Nutzung Ihrer Daten zur Direktwerbung
													<br />
													 8. Verwendung von Sozialen Medien: Video
													<br />
													 9. Online-Marketing
													<br />
													 10. Webanalysedienste
													<br />
													 11. Tools und Sonstiges
													<br />
													 12.  Rechte des Betroffenen
													<br />
													 13. Dauer der Speicherung personenbezogener Daten
												</p>
												<p>
													<u
														>1. Information über die Erhebung personenbezogener Daten und
														Kontaktdaten des Verantwortlichen</u
													>
												</p>
												<p>
													1.1. Vielen Dank für Ihren Besuch unserer Webseite. Nachfolgend
													möchten wir Sie über den Umgang mit Ihren personenbezogenen Daten
													bei der Nutzung unserer Website informieren. Personenbezogene Daten
													sind grundsätzlich alle Daten, mit denen Sie persönlich
													identifiziert werden können.
												</p>
												<p>
													1.2. Verantwortlicher für die Verarbeitung von Daten auf unserer
													Website im Sinne der Datenschutz-Grundverordnung (DSGVO) ist:
												</p>
												<p>
													Moritz Gräßler
													<br />
													Wiesennweg 25 
													<br />
													08606 Tirpersdorf
													<br />
													Deutschland
													<br />
													Tel.:01704948065
													<br />
													E-Mail: cheese@selfiemate.de.
												</p>
												<p>
													1.3. Um die Sicherheit Ihrer Daten bei der Übertragung zu schützen,
													verwenden wir dem aktuellen Stand der Technik entsprechende
													Verschlüsselungsverfahren (z. B. SSL oder TSL) über HTTPS.
												</p>
												<p>
													<u>2. Datenerfassung beim Besuch unserer Website</u>
												</p>
												<p>
													Bei jedem Aufruf unserer Webseite erfasst unser System automatisiert
													Daten und Informationen, die Ihr Browser an unseren Server
													übermittelt (sog. &#8222;Server-Logfiles&#8220;). Folgende, für uns
													technisch erforderliche Daten werden dabei erhoben:
												</p>
												<ul>
													<li>Unsere besuchte Website</li>
													<li>Datum und Uhrzeit zum Zeitpunkt des Zugriffes</li>
													<li>Menge der gesendeten Daten in Byte</li>
													<li>Quelle/Verweis, von welchem Sie auf die Seite gelangten</li>
													<li>Verwendetes Betriebssystem</li>
													<li>Verwendeter Browser</li>
													<li>Verwendete IP-Adresse (ggf.: in anonymisierter Form</li>
												</ul>
												<p>
													Rechtsgrundlage für die Verarbeitung ist Art. 6 Abs. 1 lit. f DSGVO
													aufgrund unseres berechtigten Interesses an der Verbesserung der
													Stabilität und Erhaltung der Funktionsfähigkeit unserer Website.
													Eine Weitergabe oder anderweitige Verwendung der Daten findet nicht
													statt. Die vorübergehende Speicherung der IP-Adresse durch das
													System ist notwendig, um eine Auslieferung der Website an den
													Rechner des Nutzers zu ermöglichen. Hierfür muss die IP-Adresse des
													Nutzers für die Dauer der Sitzung gespeichert bleiben.
													<br />
													Wir behalten uns vor, die Server-Logfiles nachträglich zu überprüfen,
													sollten konkrete Anhaltspunkte auf eine rechtswidrige Nutzung hinweisen.
													Die Daten werden gelöscht, sobald sie für die Erreichung des Zweckes
													ihrer Erhebung nicht mehr erforderlich sind. Im Falle der Erfassung der
													Daten zur Bereitstellung der Website ist dies der Fall, wenn die jeweilige
													Sitzung beendet ist. 
													<br />
													Im Falle der Speicherung der Daten in Logfiles ist dies nach spätestens
													sieben Tagen der Fall. Eine darüberhinausgehende Speicherung ist möglich.
													In diesem Fall werden die IP-Adressen der Nutzer gelöscht oder verfremdet,
													sodass eine Zuordnung des aufrufenden Clients nicht mehr möglich ist.
													Die Erfassung der Daten zur Bereitstellung der Website und die Speicherung
													der Daten in Logfiles ist für den Betrieb der Internetseite zwingend
													erforderlich. Es besteht folglich seitens des Nutzers keine Widerspruchsmöglichkeit.
												</p>
												<p>
													<u>3. Cookies</u>
												</p>
												<p>Unsere Webseite verwendet Cookies.</p>
												<p>
													Cookies sind Textdateien, die auf dem Endgerät des Nutzers
													gespeichert werden. Ruft ein Nutzer eine Website auf, so kann ein
													Cookie auf dem Betriebssystem des Nutzers gespeichert werden. Einige
													Funktionen unserer Internetseite können ohne den Einsatz von Cookies
													nicht angeboten werden. Dafür ist es erforderlich, dass der Browser
													auch nach einem Seitenwechsel wiedererkannt wird. Die durch
													technisch notwendige Cookies erhobenen Nutzerdaten werden nicht zur
													Erstellung von Nutzerprofilen verwendet. In den o.g. Zwecken liegt
													auch unser berechtigtes Interesse in der Verarbeitung der
													personenbezogenen Daten nach Art. 6 Abs. 1 lit. f) DSGVO.
												</p>
												<p>
													Darüber hinaus verwendet unsere Website Cookies, die eine Analyse
													des Surfverhaltens der Nutzer ermöglichen (sog. Third Party
													Cookies). Nähere Informationen zu Umfang, Zweck, Rechtsgrundlage und
													Widerspruchsmöglichkeiten erhalten Sie in den jeweiligen Abschnitten
													des jeweiligen Kapitels dieser Datenschutzerklärung.
												</p>
												<p>
													Sie als Nutzer haben die volle Kontrolle über die Verwendung von
													Cookies. Durch eine Änderung der Einstellungen in Ihrem
													Internetbrowser können Sie die Übertragung von Cookies deaktivieren,
													einschränken oder löschen. Wenn Sie Cookies für unsere Website
													deaktivieren, können möglicherweise nicht mehr alle Funktionen der
													Website vollumfänglich genutzt werden. Die Übermittlung von
													Flash-Cookies können Sie über eine Änderung der Einstellung des
													Flash Players unterbinden.
												</p>
												<p>
													Hilfe zu den Einstellungen finden Sie im jeweiligen Hilfemenü Ihres
													Browsers unter den folgenden Links:
													<br />
													Internet Explorer: http://windows.microsoft.com/de-DE/windows-vista/Block-or-allow-cookies
													<br />
													Firefox: https://support.mozilla.org/de/kb/cookies-erlauben-und-ablehnen
													<br />
													Chrome: http://support.google.com/chrome/bin/answer.py?hl=de&amp;hlrm=en&amp;answer=95647
													<br />
													Safari: https://support.apple.com/de-de/guide/safari/sfri11471/mac
													<br />
													Opera: https://help.opera.com/en/latest/web-preferences/#cookies
													<br />
													Einige der hier verwendeten Cookies werden nach Schließen Ihres Browsers
													wieder gelöscht (sog. Sitzungs-Cookies). Andere Cookies bleiben auf Ihrem
													Endgerät und ermöglichen uns oder unseren Partnerunternehmen (Third Party
													Cookies), Ihren Browser beim nächsten Besuch wiederzuerkennen (persistente
													Cookies). Werden Cookies gesetzt, erheben und verarbeiten diese im individuellen
													Umfang bestimmte Nutzerinformationen wie Browser- und Standortdaten sowie
													IP-Adresswerte. Persistente Cookies werden automatisiert nach einer vorgegebenen
													Dauer gelöscht, die sich je nach Cookie unterscheiden kann.
												</p>
												<p>
													<u>4. Datenverarbeitung zur Bestellabwicklung</u>
												</p>
												<p>
													4.1. Wenn Sie in unserem Webshop bestellen möchten, ist es für den
													Vertragsabschluss erforderlich, dass Sie Ihre persönlichen Daten
													angeben, die wir für die Abwicklung Ihrer Bestellung benötigen. Die
													von Ihnen angegebenen Daten verarbeiten wir zur Abwicklung Ihrer
													Bestellung.
												</p>
												<p>
													Teilweise arbeiten wir mit externen Dienstleistern zusammen, um Ihre
													Bestellung abzuwickeln. Hierfür müssen wir die dazu erforderlichen
													personenbezogen Daten weitergeben.
												</p>
												<p>
													Sofern wir Transportunternehmen mit der Lieferung Ihrer Ware
													beauftragen, geben wir Ihre für die Lieferung der Ware
													erforderlichen Daten an das jeweilige Transportunternehmen weiter.
													Für die Abwicklung der Zahlungen geben wir Ihre Daten im Rahmen der
													Erforderlichkeit an das beauftragte Kreditinstitut weiter. Falls wir
													Zahlungsdienstleister einsetzen, werden Sie darüber ebenfalls
													nachfolgend informiert. 
													<br />
													Rechtsgrundlage für die Weitergabe Ihrer Daten ist Art. 6 Abs. 1 lit.
													b DSGVO.
												</p>
												<p>
													4.2. Um unsere vertraglichen Pflichten zu erfüllen, arbeiten wir mit
													externen Versandpartnern zusammen. Wir geben Ihren Namen sowie Ihre
													Lieferadresse (sofern erforderlich auch weitere Daten)
													ausschließlich zu Zwecken der Lieferung der bestellten Ware gemäß
													Art. 6 Abs. 1 lit. b DSGVO an einen von uns ausgewählten
													Versandpartner weiter.
												</p>
												<p>
													4.3. Weitergabe Ihrer personenbezogenen Daten an
													Versanddienstleister
												</p>
												<p>&#8211; DHL</p>
												<p>
													Erfolgt die Zustellung der Ware an Sie durch den
													Transportdienstleister DHL (Deutsche Post AG,
													Charles-de-Gaulle-Straße 20, 53113 Bonn), geben wir zum Zwecke der
													Zustellung und im Rahmen der Erforderlichkeit gemäß Art. 6 Abs. 1
													lit. b DSGVO nur den Namen des Empfängers und die Lieferadresse an
													DHL weiter. Nur wenn Sie im Bestellprozess Ihre ausdrückliche
													Einwilligung erteilt haben, geben wir Ihre E-Mail-Adresse gemäß Art.
													6 Abs. 1 lit. a DSGVO vor der Zustellung der Ware zum Zwecke der
													Abstimmung eines Liefertermins bzw. zur Lieferankündigung an DHL
													weiter. Ihre Einwilligung kann jederzeit mit Wirkung für die Zukunft
													gegenüber dem oben bezeichneten Verantwortlichen oder gegenüber dem
													Transportdienstleister DHL widerrufen werden.
												</p>
												<p>4.4. Verwendung von Zahlungsdienstleistern</p>
												<p>
													&#8211; Paypal
													<br />
													Bei Auswahl der Zahlungsart PayPal, Kreditkarte via PayPal, Lastschrift
													via PayPal oder – falls angeboten &#8211; &#8222;Kauf auf Rechnung&#8220;
													oder &#8222;Ratenzahlung&#8220; via PayPal erfolgt die Zahlungsabwicklung
													über die PayPal (Europe) S.a.r.l. et Cie, S.C.A., 22-24 Boulevard Royal,
													L-2449 Luxembourg (nachfolgend &#8222;PayPal&#8220; genannt).
													<br />
													Wir geben Ihre personenbezogenen Daten gemäß Art. 6 Abs. 1 lit. b DSGVO
													im Rahmen der Erforderlichkeit an PayPal weiter. PayPal behält sich für
													die Zahlungsmethoden Kreditkarte via PayPal, Lastschrift via PayPal oder
													– falls angeboten &#8211; &#8222;Kauf auf Rechnung&#8220; oder &#8222;Ratenzahlung&#8220;
													via PayPal die Durchführung einer Bonitätsauskunft vor.
													<br />
													Hierfür werden Ihre Zahlungsdaten gegebenenfalls gemäß Art. 6 Abs. 1
													lit. f DSGVO aufgrund berechtigten Interesses von PayPal an der Feststellung
													Ihrer Zahlungsfähigkeit an Auskunfteien weitergegeben. Das Ergebnis der
													Bonitätsprüfung in Bezug auf die statistische Zahlungsausfallwahrscheinlichkeit
													verwendet PayPal zum Zwecke der Entscheidung über die Bereitstellung
													der jeweiligen Zahlungsmethode.
													<br />
													Die Bonitätsauskunft kann Wahrscheinlichkeitswerte enthalten (sog. Score-Werte).
													Soweit Score-Werte in das Ergebnis der Bonitätsauskunft einfließen, haben
													diese ihre Grundlage in einem wissenschaftlich anerkannten mathematisch-statistischen
													Verfahren. In die Berechnung der Score-Werte fließen unter anderem, aber
													nicht ausschließlich, Anschriftendaten ein.
													<br />
													Welche weiteren Daten von PayPal erhoben werden, ergibt sich aus der
													jeweiligen Datenschutzerklärung von PayPal. Diese findet sich unter:
													https://www.paypal.com/de/webapps/mpp/ua/privacy-full
													<br />
													Sie können dieser Verarbeitung Ihrer Daten jederzeit durch eine Nachricht
													an PayPal widersprechen. PayPal bleibt jedoch ggf. weiterhin berechtigt,
													Ihre personenbezogenen Daten zu verarbeiten, wenn dies zur vertragsgemäßen
													Zahlungsabwicklung erforderlich ist.
												</p>
												<p>
													<u
														>5. Datenverarbeitung bei Eröffnung eines Kundenkontos und zur
														Vertragsabwicklung</u
													>
												</p>
												<p>
													Wenn Sie bei uns ein Kundenkonto eröffnen, werden hierbei gemäß Art.
													6 Abs. 1 lit. b DGSVO personenbezogene Daten erhoben und
													verarbeitet. Der Umfang der Daten ist aus dem Eingabeformular
													ersichtlich. Die von Ihnen eingegebenen Daten werden von uns zur
													Vertragsabwicklung gespeichert und verwendet. 
													<br />
													Sie können Ihr Kundenkonto jederzeit löschen. Dies kann durch eine Nachricht
													an die Adresse des Verantwortlichen oder, wenn angeboten, direkt im Kundenkonto
													erfolgen. In dem Fall werden wir auch Ihre Daten mit Rücksicht auf steuer-
													und handelsrechtliche Aufbewahrungsfristen sperren und nach Ablauf dieser
													Fristen löschen. Dem kann nur Ihre Einwilligung zur dauerhaften Speicherung
													oder eine gesetzlich erlaubte weitere Datenverwendung von unserer Seite
													entgegenstehen.
												</p>
												<p>
													<u>6. Kontaktaufnahme</u>
												</p>
												<p>
													Wenn Sie mit uns per Kontaktformular Kontakt aufnehmen, werden die
													in der Eingabemaske eingegeben Daten an uns übermittelt und
													gespeichert. Die erhobenen Daten sind der jeweiligen Eingabemaske zu
													entnehmen. Bei der Kontaktaufnahme per E-Mail werden ausschließlich
													die dort von Ihnen eingegebenen Daten an uns übertragen.
													<br />
													Die Daten werden ausschließlich für die Verarbeitung der Konversation
													und Ihres Anliegens verwendet. Rechtsgrundlage für die Verarbeitung der
													Daten ist bei Vorliegen einer Einwilligung des Nutzers Art. 6 Abs. 1
													lit. a) DSGVO. Rechtsgrundlage für die Verarbeitung der Daten, die im
													Zuge einer Übersendung einer E-Mail übermittelt werden, ist Art. 6 Abs.
													1 lit. f) DSGVO. Zielt der E-Mail-Kontakt auf den Abschluss eines Vertrages
													ab, so ist zusätzliche Rechtsgrundlage für die Verarbeitung Art. 6 Abs.
													1 lit. b) DSGVO. Die Daten werden gelöscht, sobald sie für die Erreichung
													des Zweckes ihrer Erhebung nicht mehr erforderlich sind und sofern keine
													gesetzlichen Aufbewahrungspflichten entgegenstehen. Für die personenbezogenen
													Daten aus der Eingabemaske des Kontaktformulars und diejenigen, die per
													E-Mail übersandt wurden, ist dies dann der Fall, wenn die jeweilige Konversation
													mit dem Nutzer beendet ist. Beendet ist die Konversation dann, wenn sich
													aus den Umständen entnehmen lässt, dass der betroffene Sachverhalt abschließend
													geklärt ist. Der Nutzer hat jederzeit die Möglichkeit, seine Einwilligung
													zur Verarbeitung der personenbezogenen Daten zu widerrufen. Nimmt der
													Nutzer per E-Mail Kontakt mit uns auf, so kann er der Speicherung seiner
													personenbezogenen Daten jederzeit widersprechen. In einem solchen Fall
													kann die Konversation nicht fortgeführt werden.
												</p>
												<p>6.1. WhatsApp-Business</p>
												<p>
													Besucher unserer Webseite haben die Möglichkeit, mit uns per
													WhatsApp (ein Dienst der Facebook Inc., 1 Hacker Way, Menlo Park, CA
													94025, USA) zu kommunizieren. 
													<br />
													Wir verwenden dafür die sog. &#8222;Business-Version&#8220; von WhatsApp.
													Wenn Sie uns anlässlich eines konkreten Vertrages per Whatsapp kontaktieren,
													speichern und verwenden wir die von Ihnen bei WhatsApp genutzte Mobilfunknummer
													und – falls veröffentlicht und/oder übermittelt– Ihren Vor- und Nachnamen
													(Art 6 Abs. 1 lit. b. DSGVO) zum Zweck der Bearbeitung Ihres Anliegens. 
													<br />
													Gegebenenfalls werden Sie aufgefordert, weitere Daten anzugeben, wenn
													dies zur Bearbeitung Ihres Anliegens erforderlich ist  (Art. 6 Abs. 1
													lit. b. DSGVO).
												</p>
												<p>
													Falls der Kontakt über WhatsApp-Business für allgemeine Anfragen
													genutzt wird, die keinen konkreten Vertrag betreffen, speichern und
													verwenden wir die von Ihnen bei WhatsApp genutzte Mobilfunknummer
													und – falls veröffentlicht und/oder bereitgestellt – Ihren Vor- und
													Nachnamen (gemäß Art. 6 Abs. 1 lit. f. DSGVO) zum Zwecke der
													Bearbeitung Ihres Anliegens. 
													<br />
													Unser berechtigtes Interesse liegt hierbei in der kurzfristigen Beantwortung
													der Fragen unserer Kunden oder Interessenten. 
													<br />
													Eine Weitergabe der Daten an Dritte findet nicht statt.
													<br />
													WhatsApp Business erhält Zugriff auf das Adressbuch des dafür genutzten
													mobilen Endgeräts. Dabei werden dort gespeicherte Telefonnummern automatisch
													an einen Server von Facebook in den USA übertragen.
													<br />
													Auf dem von uns für WhatsApp-Business genutzten mobilen Endgerät befinden
													sich ausschließlich die WhatsApp-Kontaktdaten derjenigen Nutzer, die
													bereits mit uns per WhatsApp in Kontakt getreten sind.
												</p>
												<p>
													Facebook Inc. mit Sitz in den USA ist für das US-europäische
													Datenschutzübereinkommen &#8222;Privacy Shield&#8220; zertifiziert,
													welches die Einhaltung des in der EU geltenden Datenschutzniveaus
													gewährleistet. Weitere Einzelheiten zum Umgang mit Daten durch
													Whatsapp entnehmen Sie bitte den Datenschutzhinweisen von WhatsApp:
													<br />
													https://www.whatsapp.com/legal/?eea=1#privacy-policy
												</p>
												<p>
													<u>7. Nutzung Ihrer Daten zur Direktwerbung</u>
												</p>
												<p>Newsletter</p>
												<p>
													Auf unserer Internetseite besteht die Möglichkeit einen kostenfreien
													Newsletter zu abonnieren. Dabei werden bei der Anmeldung zum
													Newsletter die Daten aus der Eingabemaske an uns übermittelt.
													Pflichtangabe ist lediglich Ihre Emailadresse. Falls Sie weitere
													freiwillige Eingaben tätigen, werden diese nur für die persönliche
													Ansprache verwendet.
												</p>
												<p>
													Rechtsgrundlage für die Verarbeitung Ihrer Daten nach Anmeldung zum
													Newsletter ist bei Vorliegen einer Einwilligung des Nutzers Art. 6
													Abs. 1 lit. a DSGVO. Diese holen wir ein, indem Sie nach der
													Anmeldung zum Newsletter eine Bestätigungs-Email erhalten, in der
													sich ein Bestätigungslink befindet. Wenn Sie diesen Link anklicken,
													erteilen Sie zugleich die Einwilligung in den Newsletter-Erhalt.
													<br />
													Bei der Absendung der Anmeldung zum Newsletter speichern wir Ihre IP-Adresse
													sowie das Datum und die Uhrzeit der Anmeldung. Diese Speicherung dient
													dazu, einen möglichen Missbrauch Ihrer E-Mail- Adresse nachvollziehen
													zu können.
												</p>
												<p>
													Wir nutzen die von uns bei der Anmeldung zum Newsletter erhobenen
													Daten ausschließlich zum Zwecke des Newsletter-Versands.
												</p>
												<p>
													Das Abonnement des Newsletters kann durch Sie jederzeit gekündigt
													werden. Zu diesem Zweck findet sich in jedem Newsletter ein
													entsprechender Link. Hierdurch wird ebenfalls ein Widerruf der
													Einwilligung der Speicherung der während des Anmeldevorgangs
													erhobenen personenbezogenen Daten ermöglicht.
												</p>
												<p>
													<u>8. Verwendung von Sozialen Medien: Video</u>
												</p>
												<p>Verwendung von Youtube-Videos</p>
												<p>
													Auf dieser Website nutzen wir die Youtube-Einbettungsfunktion zur
													Anzeige und Wiedergabe von Videos des Anbieters
													&#8222;Youtube&#8220;, der zu Google Ireland Limited, Gordon House,
													4 Barrow St, Dublin, D04 E5W5, Irland (&#8222;Google&#8220;)gehört.
													Hierbei verwenden wir den erweiterten Datenschutzmodus, der laut
													Anbieterangaben eine Speicherung von Nutzerinformationen erst bei
													Wiedergabe des/der Videos in Gang setzt. Wenn Sie die Wiedergabe
													eingebetteter Youtube-Videos starten, setzt der Anbieter
													&#8222;Youtube&#8220; Cookies ein, um Informationen über Ihr
													Nutzerverhalten zu sammeln. &#8222;Youtube&#8220; zufolge dienen
													diese unter anderem dazu, Videostatistiken zu erfassen, die
													Nutzerfreundlichkeit zu verbessern und missbräuchliche
													Handlungsweisen zu unterbinden. Wenn Sie dabei bei Google eingeloggt
													sind, werden Ihre Daten direkt Ihrem Konto zugeordnet.
												</p>
												<p>
													Wenn Sie die Zuordnung mit Ihrem Profil bei YouTube nicht wünschen,
													müssen Sie sich vor Aktivierung des Buttons ausloggen. Google
													speichert Ihre Daten (selbst für nicht eingeloggte Nutzer) als
													Nutzungsprofile und wertet diese aus. Eine solche Auswertung erfolgt
													insbesondere gemäß Art. 6 Abs. 1 lit.f DSGVO auf Basis der
													berechtigten Interessen von Google an der Einblendung
													personalisierter Werbung, Marktforschung und/oder bedarfsgerechten
													Gestaltung einer Website, ebenso liegt unser berechtigtes Interesse
													an der Einbindung der Videos gemäß Art. 6 Abs. 1 lit. f DSGVO in der
													Auswertung von Nutzerverhalten, Gestaltung unserer Webseite gemäß
													dem Nutzerinteresse und der Ausschöpfung des finanziellen Potentials
													unserer Webseite.
												</p>
												<p>
													Ihnen steht ein Widerspruchsrecht zu gegen die Bildung dieser
													Nutzerprofile, wobei Sie sich zur Ausübung dessen an YouTube wenden
													müssen. Unabhängig von einer Wiedergabe der eingebetteten Videos
													wird bei jedem Aufruf dieser Website eine Verbindung zum
													Google-Netzwerk &#8222;DoubleClick&#8220; aufgenommen, was ohne
													unseren Einfluss weitere Datenverarbeitungsvorgänge auslösen kann.
												</p>
												<p>
													Es kann auch zu einer Übermittlung von Daten an die Server der
													Google LLC. in den USA kommen. Für den Fall der Übermittlung von
													personenbezogenen Daten an die Google LLC mit Sitz in den USA hat
													sich Google LLC für das us-europäische Datenschutzübereinkommen
													&#8222;Privacy Shield&#8220; zertifiziert, welches die Einhaltung
													des in der EU geltenden Datenschutzniveaus gewährleistet. Weitere
													Informationen zum Datenschutz bei &#8222;YouTube&#8220; finden Sie
													in der Datenschutzerklärung des Anbieters unter:
													https://www.google.de/intl/de/policies/privacyOpt-out möglich unter:
													<br />
													https://adssettings.google.com/authenticated.
												</p>
												<p>
													<u>9. Online-Marketing</u>
												</p>
												<p>Einsatz von Google Ads Conversion-Tracking</p>
												<p>
													Diese Website nutzt das Online-Werbeprogramm &#8222;Google
													Ads&#8220; und im Rahmen von Google Ads das Conversion-Tracking der
													Google Ireland Limited, Gordon House, 4 Barrow St, Dublin, D04 E5W5,
													Irland (&#8222;Google&#8220;).
												</p>
												<p>
													Hierbei wird mit Hilfe von Werbemitteln (sogenannten Google Adwords)
													auf externen Webseiten für unsere Angebote geworben. Unser
													berechtigtes Interesse liegt in der Anzeige von Werbung, die für Sie
													interessant ist und in der Erreichung einer fairen Berechnung von
													Werbe-Kosten. Rechtsgrundlage ist Art. 6 Abs. 1 lit. f DSGVO.
												</p>
												<p>
													Google Ads nutzt Cookies für Conversion-Tracking, die gesetzt
													werden, wenn Sie eine von Google geschaltete AdWords-Anzeige
													anklicken.
												</p>
												<p>
													Diese Cookies verlieren in der Regel nach 30 Tagen ihre Gültigkeit
													und dienen nicht der persönlichen Identifizierung. Jeder Google
													Ads-Kunde erhält ein anderes Cookie, daher können Cookies auch nicht
													über die Websites von Ads-Kunden nachverfolgt werden.
												</p>
												<p>
													Die so erhaltenen Informationen dienen dazu, Conversion-Statistiken
													für Ads-Kunden über die Gesamtanzahl der Nutzer, die auf ihre
													Anzeige geklickt haben und zu einer mit einem
													Conversion-Tracking-Tag versehenen Seite weitergeleitet wurden, zu
													erstellen.
												</p>
												<p>Sie können damit nicht persönlich identifiziert werden.</p>
												<p>
													Wenn Sie das Tracking verhindern möchten, können Sie das Cookie des
													Google Conversion-Trackings über ihren Internet-Browser unter
													Nutzereinstellungen deaktivieren.
												</p>
												<p>
													Für den Fall der Datenübertragung an Google LLC mit Sitz in den USA
													ist Google LLC für das us-europäische Datenschutzübereinkommen
													&#8222;Privacy Shield&#8220; zertifiziert, welches die Einhaltung
													des in der EU geltenden Datenschutzniveaus gewährleistet.
												</p>
												<p>
													Hier erhalten Sie Informationen über die Datenschutzbestimmungen von
													Google: http://www.google.de/policies/privacy/
												</p>
												<p>
													Sie können die Conversion-Cookies dauerhaft durch eine entsprechende
													Einstellung Ihres Browsers deaktivieren oder das unter folgendem
													Link verfügbare Browser-Plug-in herunterladen und installieren:
													<br />
													http://www.google.com/settings/ads/plugin?hl=de
												</p>
												<p>
													In dem Fall können bestimmte Funktionen dieser Website
													möglicherweise nicht oder nur eingeschränkt genutzt werden.
												</p>
												<p>
													<u>10. Webanalysedienste</u>
												</p>
												<p>Google Analytics</p>
												<p>
													Wir nutzen für diese Webseite den Webanalysedienst Google Analytics
													( Google Ireland Limited, Gordon House, 4 Barrow St, Dublin, D04
													E5W5, Irland).
													<br />
													Google Analytics verwendet Cookies&#8220;. Das sind Textdateien, die
													auf Ihrem Computer gespeichert werden und die eine Analyse der Benutzung
													der Website durch Sie ermöglichen.
												</p>
												<p>
													Die so erzeugten Informationen über Ihre Benutzung dieser Website
													(einschließlich der gekürzten IP-Adresse) werden an einen Server von
													Google übertragen und dort gespeichert, wobei eine Übertragung in
													die USA möglich ist.
												</p>
												<p>
													Wir verwenden Google Analytics mit der Erweiterung
													&#8222;_anonymizeIp()&#8220;, die eine Anonymisierung der IP-Adresse
													durch Kürzung sicherstellt und einen direkten Personenbezug
													ausschließt. Ihre IP-Adresse wird daher von Google innerhalb von
													Mitgliedstaaten der Europäischen Union oder in anderen
													Vertragsstaaten des Abkommens über den Europäischen Wirtschaftsraum
													gekürzt. In Ausnahmefällen wird die volle IP-Adresse an einen Server
													von Google, auch in die USA,  übertragen und erst dort gekürzt. In
													diesen Ausnahmefällen erfolgt diese Verarbeitung gemäß Art. 6 Abs. 1
													lit. f DSGVO. Unser  berechtigtes Interesse liegt in der
													statistischen Analyse des Nutzerverhaltens zu Optimierungs- und
													Marketingzwecken.
												</p>
												<p>
													In unserem Auftrag nutzt Google diese Informationen, um Ihre
													Websitennutzung auszuwerten, Reports über die Websiteaktivitäten zu
													erstellen und weitere mit der Websitenutzung und der Internetnutzung
													verbundene Dienstleistungen uns gegenüber zu erbringen. Es findet
													keine Zusammenführung Ihrer in diesem Rahmen erhobenen IP Adresse
													mit anderen Daten von Google statt.
												</p>
												<p>
													Sie können die Speicherung der Cookies durch die entsprechende
													Einstellung Ihres Browsers verhindern.
												</p>
												<p>
													Sie können außerdem die Erfassung der durch das Cookie erzeugten und
													auf Ihre Nutzung der Website bezogenen Daten (inkl. Ihrer
													IP-Adresse) sowie die Verarbeitung dieser Daten durch Google
													verhindern, indem Sie folgende Browser-Plugin herunterladen und
													installieren:
												</p>
												<p>http://tools.google.com/dlpage/gaoptout?hl=de</p>
												<p>
													Alternativ können Sie ein Out-Out-Cookie setzen:
													<br />
													<a>Google Analytics deaktivieren</a>
												</p>
												<p>
													Dieses Opt-Out-Cookie funktioniert nur in diesem Browser und nur für
													diese Domain. Löschen Sie Ihre Cookies in diesem Browser, müssen Sie
													diesen Link erneut anklicken.
												</p>
												<p>
													Für den Fall der Datenübertragung an Google LLC mit Sitz in den USA
													ist Google LLC für das US-Europäische Datenschutzübereinkommen
													&#8222;Privacy Shield&#8220; zertifiziert, das die Einhaltung des in
													der EU geltenden Datenschutzniveaus gewährleistet.
												</p>
												<p>
													Diese Website verwendet Google Analytics außerdem für eine
													geräteübergreifende Analyse von Besucherströmen, die über eine
													User-ID durchgeführt wird. Sie können in Ihrem Kundenkonto unter
													&#8222;Meine Daten&#8220;, &#8222;persönliche Daten&#8220; die
													geräteübergreifende Analyse Ihrer Nutzung deaktivieren.
												</p>
												<p>
													Datenschutzerklärung von Google:
													<br />
													https://support.google.com/analytics/answer/6004245?hl=de
												</p>
												<p>
													<u>11. Tools und Sonstiges</u>
												</p>
												<p>
													11.1. Google Maps
													<br />
													Wir verwenden &#8222;Google Maps&#8220; (API) von Google Ireland Limited,
													Gordon House, 4 Barrow St, Dublin, D04 E5W5, Irland (&#8222;Google&#8220;).
												</p>
												<p>
													Google Maps dient der Darstellung interaktiver Karten und der
													Erstellung von Anfahrtsbeschreibungen.  Durch die Nutzung von Google
													Maps können Informationen über die Benutzung dieser Website
													einschließlich Ihrer IP-Adresse und der im Rahmen der
													Routenplanerfunktion eingegebenen (Start-) Adresse an Google
													übertragen werden.  Wenn Sie eine Webseite unseres Internetauftritts
													aufrufen, die Google Maps enthält, baut Ihr Browser eine direkte
													Verbindung mit den Servern von Google auf. Der Karteninhalt wird von
													Google direkt an Ihren Browser übermittelt und von diesem in die
													Webseite eingebunden. Daher haben wir keinen Einfluss auf den Umfang
													der auf diese Weise von Google erhobenen Daten. Entsprechend unserem
													Kenntnisstand sind dies zumindest folgende Daten:
													<br />
													• Datum und Uhrzeit des Besuchs auf der betreffenden Webseite,
													<br />
													• Internetadresse oder URL der aufgerufenen Webseite,
													<br />
													• IP-Adresse, im Rahmen der Routenplanung eingegebene (Start-)Anschrift.
												</p>
												<p>
													Auf die weitere Verarbeitung und Nutzung der Daten durch Google
													haben wir keinen Einfluss und können daher hierfür keine
													Verantwortung übernehmen. Wenn Sie bei Google eingeloggt sind,
													werden Ihre Daten direkt Ihrem Google-Konto zugeordnet. Wenn Sie
													diese Zuordnung nicht wünschen, müssen Sie sich bei Google
													ausloggen. Google speichert Ihre Daten (auch die nicht eingeloggter
													Nutzer) als Nutzungsprofile und wertet diese aus. Eine solche
													Auswertung erfolgt insbesondere gemäß Art. 6 Abs. 1 lit.f DSGVO auf
													Basis der berechtigten Interessen von Google an der Einblendung
													personalisierter Werbung, Marktforschung und/oder bedarfsgerechten
													Gestaltung seiner Website. Ihnen steht ein Widerspruchsrecht zu
													gegen die Bildung dieser Nutzerprofile, wobei Sie diesen bei Google
													geltend machen müssen.
													<br />
													Wenn Sie nicht möchten, dass Google über unseren Internetauftritt Daten
													über Sie erhebt, verarbeitet oder nutzt, können Sie ferner in Ihren Browsereinstellungen
													JavaScript deaktivieren. In diesem Fall können Sie die Kartenanzeige
													jedoch nicht nutzen. Zweck und Umfang der Datenerhebung und die weitere
													Verarbeitung und Nutzung der Daten durch Google sowie Ihre diesbezüglichen
													Rechte und Einstellungsmöglichkeiten zum Schutz Ihrer Privatsphäre entnehmen
													Sie den Datenschutzhinweisen von Google (https://policies.google.com/privacy?hl=de).Für
													den Fall, dass es zur Datenübertragung in die USA kommt, ist Google LLC
													mit Sitz in den USA für das US-europäische Datenschutzübereinkommen &#8222;Privacy
													Shield&#8220; zertifiziert, das die Einhaltung des in der EU geltenden
													Datenschutzniveaus gewährleistet.
												</p>
												<p>
													Die Nutzungsbedingungen von Google hier aufrufbar:
													<br />
													http://www.google.de/intl/de/policies/terms/regional.html 
													<br />
													die Nutzungsbedingungen für Google Maps sind hier aufrufbar:
													<br />
													https://www.google.com/intl/de_US/help/terms_maps.html
													<br />
													Weitere Informationen zum Datenschutzfinden Sie hier:
													<br />
													http://www.google.de/intl/de/policies/privacy/
												</p>
												<p>11.2. Google Web Fonts</p>
												<p>
													Wir verwenden zur einheitlichen Darstellung von Schriftarten so
													genannte Web Fonts die von der Google Ireland Limited, Gordon House,
													4 Barrow St, Dublin, D04 E5W5, Irland (&#8222;Google&#8220;)
													bereitgestellt werden.
													<br />
													Sobald Sie unsere Webseite aufrufen, lädt Ihr Browser die benötigten
													Web Fonts in den Browser-Cache.
												</p>
												<p>
													Dafür muss Ihr Browser eine Verbindung zu den Servern von Google
													aufnehmen, wodurch Google Ihre IP-Adresse übertragen wird. In dem
													Fall kann es auch zu einer Übertragung Ihrer personenbezogenen Daten
													an die Server der Google LLC. in den USA kommen. Unser berechtigtes
													Interesse im Sinne von Art. 6 Abs. 1 lit. f DSGVO liegt in der
													einheitlichen und ansprechenden Darstellung unserer Online-Angebote.
												</p>
												<p>
													Sofern Ihr Browser Web Fonts nicht unterstützt, wird eine
													Standardschrift von Ihrem Computer genutzt.
												</p>
												<p>
													Für den Fall der Übertragung von personenbezogenen Daten an Google
													LLC , USA, hat ich Google für das US-europäische
													Datenschutzübereinkommen &#8222;Privacy Shield&#8220; zertifiziert,
													das die Einhaltung des in der EU geltenden Datenschutzniveaus
													gewährleistet.
												</p>
												<p>
													Einzelheiten zu Google Web Fonts sind hier einsehbar:
													<br />
													https://developers.google.com/fonts/faq
													<br />
													sowie in der Datenschutzerklärung von Google:
													<br />
													https://www.google.com/policies/privacy/
												</p>
												<p>
													<strong>Face-ID &#8211; Gesichtserkennung</strong>
												</p>
												<p>
													Es werden keinerlei Daten der Gesichtserkennung/Face-ID genutzt bzw.
													gespeichert
												</p>
												<p>
													<u>12.  Rechte des Betroffenen</u>
												</p>
												<p>
													12.1. Das geltende Datenschutzrecht gewährt Ihnen gegenüber dem
													Verantwortlichen hinsichtlich der Verarbeitung Ihrer
													personenbezogenen Daten umfassende Betroffenenrechte (Auskunfts- und
													Interventionsrechte), über die wir Sie nachstehend informieren:
												</p>
												<p>
													&#8211; Auskunftsrecht gemäß Art. 15 DSGVO:
													<br />
													Sie können von dem Verantwortlichen eine Bestätigung darüber verlangen,
													ob personenbezogene Daten, die Sie betreffen, von dem Verantwortlichen
													verarbeitet werden.  Darüber hinaus haben Sie ein Recht auf Auskunft
													über Zweck, die Kategorien personenbezogener Daten, die Empfänger, die
													geplante Dauer der Speicherung und über das Bestehen von weiteren Rechten
													wie Berichtigung der Daten oder das Bestehen eines Beschwerderechts bei
													einer Aufsichtsbehörde, die Herkunft Ihrer Daten, wenn diese nicht durch
													uns erhoben wurden, das Bestehen einer automatisierten Entscheidungsfindung
													einschließlich Profiling und ggf. aussagekräftige Informationen über
													die involvierte Logik und die Sie betreffende Tragweite und die angestrebten
													Auswirkungen einer solchen Verarbeitung, sowie Ihr Recht auf Unterrichtung,
													welche Garantien gemäß Art. 46 DSGVO bei Weiterleitung Ihrer Daten in
													Drittländer bestehen;
												</p>
												<p>
													&#8211; Recht auf Berichtigung gemäß Art. 16 DSGVO:
													<br />
													Sie haben ein Recht auf unverzügliche Berichtigung der Sie betreffenden
													unrichtigen Daten und/oder die Vervollständigung Ihrer bei uns gespeicherten
													unvollständigen Daten; die Berichtigung oder Vervollständigung hat unverzüglich
													zu erfolgen.
												</p>
												<p>
													&#8211; Recht auf Einschränkung der Verarbeitung gemäß Art. 18
													DSGVO:
													<br />
													Sie haben das Recht, die Einschränkung der Verarbeitung Ihrer personenbezogenen
													Daten zu verlangen, solange die von Ihnen bestrittene Richtigkeit Ihrer
													Daten überprüft wird, wenn Sie eine Löschung Ihrer Daten wegen unzulässiger
													Datenverarbeitung ablehnen und stattdessen die Einschränkung der Verarbeitung
													Ihrer Daten verlangen, wenn Sie Ihre Daten zur Geltendmachung, Ausübung
													oder Verteidigung von Rechtsansprüchen benötigen, nachdem wir diese Daten
													nach Zweckerreichung nicht mehr benötigen oder wenn Sie Widerspruch aus
													Gründen Ihrer besonderen Situation eingelegt haben, solange noch nicht
													feststeht, ob unsere berechtigten Gründe überwiegen;
													<br />
													Wurde die Verarbeitung der Sie betreffenden personenbezogenen Daten eingeschränkt,
													dürfen diese Daten – von ihrer Speicherung abgesehen – nur mit Ihrer
													Einwilligung oder zur Geltendmachung, Ausübung oder Verteidigung von
													Rechtsansprüchen oder zum Schutz der Rechte einer anderen natürlichen
													oder juristischen Person oder aus Gründen eines wichtigen öffentlichen
													Interesses der Union oder eines Mitgliedstaats verarbeitet werden. Wurde
													die Einschränkung der Verarbeitung eingeschränkt, werden Sie von dem
													Verantwortlichen unterrichtet bevor die Einschränkung aufgehoben wird.
												</p>
												<p>
													&#8211; Recht auf Löschung gemäß Art. 17 DSGVO:
													<br />
													Sie haben das Recht, die unverzügliche Löschung Ihrer personenbezogenen
													Daten wie die Voraussetzungen des Art. 17 Abs. 1 DSGVO erfüllt sind.
													Dieses Recht auf Löschung besteht allerdings insbesondere &#8211; nicht
													abschließend &#8211; dann nicht, wenn die Verarbeitung zur Ausübung des
													Rechts auf freie Meinungsäußerung und Information, zur Erfüllung einer
													rechtlichen Verpflichtung, aus Gründen des öffentlichen Interesses oder
													zur Geltendmachung, Ausübung oder Verteidigung von Rechtsansprüchen erforderlich
													ist;
												</p>
												<p>
													&#8211; Recht auf Unterrichtung gemäß Art. 19 DSGVO:
													<br />
													Sofern Sie Ihr Recht auf Berichtigung, Löschung oder Einschränkung der
													Verarbeitung ausgeübt haben, ist der Verantwortliche verpflichtet, allen
													Empfängern, denen Ihre personenbezogenen Daten offengelegt wurden, diese
													Berichtigung oder Löschung der Daten oder Einschränkung der Verarbeitung
													mitzuteilen, wenn dies nicht unmöglich oder mit einem unverhältnismäßigen
													Aufwand verbunden ist. Ihnen steht auch das Recht zu, über diese Empfänger
													informiert zu werden.
												</p>
												<p>
													&#8211; Recht auf Datenübertragbarkeit gemäß Art. 20 DSGVO:
													<br />
													Sie haben das Recht, Ihre uns mitgeteilten personenbezogenen Daten in
													einem strukturierten, gängigen und maschinenlesebaren Format zu erhalten
													oder die Übermittlung an einen anderen Verantwortlichen zu verlangen,
													soweit dies technisch möglich ist;
												</p>
												<p>
													&#8211; Recht auf Widerruf gemäß Art. 7 Abs. 3 DSGVO:
													<br />
													Sie haben das Recht, jederzeit gegen die Verarbeitung der Sie betreffenden
													personenbezogenen Daten, die aufgrund von Art. 6 Abs. 1 lit. e) oder
													f) DSGVO erfolgt, Widerspruch einzulegen; dies gilt auch für ein auf
													diese Bestimmungen gestütztes Profiling.
													<br />
													Sie haben ferner das Recht, Ihre datenschutzrechtliche Einwilligungserklärung
													jederzeit mit Wirkung für die Zukunft zu widerrufen. Durch den Widerruf
													der Einwilligung wird die Rechtmäßigkeit der aufgrund der Einwilligung
													bis zum Widerruf erfolgten Verarbeitung nicht berührt.
												</p>
												<p>
													&#8211; Recht auf Beschwerde gemäß Art. 77 DSGVO:
													<br />
													Unbeschadet eines anderweitigen verwaltungsrechtlichen oder gerichtlichen
													Rechtsbehelfs haben Sie das Recht auf Beschwerde bei einer Aufsichtsbehörde,
													insbesondere in dem Mitgliedstaat ihres Aufenthaltsorts, ihres Arbeitsplatzes
													oder des Orts des mutmaßlichen Verstoßes, zu, wenn Sie der Ansicht sind,
													dass die Verarbeitung der Sie betreffenden personenbezogenen Daten gegen
													die DSGVO verstößt.
												</p>
												<p>
													12.2.
													<b>Widerspruchsrecht</b>
												</p>
												<p>
													Sie haben das Recht, der Verarbeitung Ihrer Daten jederzeit mit
													Wirkung für die Zukunft zu widersprechen, wenn wir aufgrund unseres
													überwiegenden berechtigten Interesses nach einer Interessenabwägung
													Ihre Daten verarbeiten.
													<br />
													Sofern Sie von diesem Widerspruchsrecht Gebrauch machen, werden wir die
													Verarbeitung Ihre Daten beenden, wenn nicht nachweisbar überwiegende
													zwingende schutzwürdige Gründe der Beendigung entgegenstehen oder wenn
													die weitere Verarbeitung der Ausübung oder Verteidigung von Rechtsansprüchen
													dient.
												</p>
												<p>
													<u>13. Dauer der Speicherung personenbezogener Daten</u>
												</p>
												<p>
													Die Dauer der Speicherung von personenbezogenen Daten hängt jeweils
													von gesetzlichen Aufbewahrungsfristen ab. Nach deren Ablauf löschen
													wir die Daten routinemäßig, wenn sie nicht mehr zur
													Vertragserfüllung oder -anbahnung erforderlich sind und/oder für uns
													kein berechtigtes Interesse an der Weiterspeicherung fortbesteht.
												</p>
												<p></p>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
		</div>
	</main>
</PageLayout>
