---
import { ParticleRenderer } from 'components/react/particle-renderer';
---

<html>
	<body>
		<div style={{ height: '1080px !important', width: '1920px !important' }} class="relative bg-black">
			<ParticleRenderer client:only="react" />
		</div>
	</body>
</html>
