<section style={{ transform: 'translate3d(0,0,0)' }} class="flex flex-col bg-white px-4 md:px-16">
	<article class="w-full max-w-7xl mx-autoborder-black rounded-xl bg-neutral-100">
		<span>Newsletter</span>
		<h3>The Daily Beassssusge</h3>
		<p>
			Get Bi-Weekly insights on what matters most in todays digital world. Tailored for small and medium-sized
			businesses, curated by me exclusively. Subscribe today to get bi-weekly insights on latest developments in
			the digital world.
		</p>
		<ul class="flex flex-col ml-6 list-outside list-disc">
			<li>10 Trending Content ideas for Instagram and TikTok, and how your business can use them to profit</li>
			<li>Changes in tech platforms</li>
			<li>Legal news</li>
		</ul>
		<p></p>
		<form class="flex">
			<input class="flex-1 border-none" />
			<button class="text-white bg-blue-600 rounded-xl">Abonnieren</button>
		</form>
		<p class="text-black">
			Like to keep your inbox clean? Every Newsletter is published one day after release on my editorial. <a
				class="underline cursor-pointer">Click here</a
			> to start reading anonimously.
		</p>
	</article>
</section>
