---
import Logo from './logo.astro';
---

<footer class="bg-black text-white px-4 sm:px-12 pt-8 pb-6">
	<div class="w-full max-w-7xl flex flex-col mx-auto">
		<div class="flex flex-col items-start">
			{/*<Logo variant="dark" />*/}
			<span class="text-neutral-200">Simon Schwitzky</span>
			<p class="text-xs text-neutral-400 my-5">
				Ich unterstütze Unternehmen
				<br />
				seit 2018 im digitalen Alltag.
				<br />
				Immer und überall.
			</p>
		</div>

		<div
			class="flex flex-col-reverse space-y-reverse space-y-3 md:space-y-0 md:flex-row md:items-center justify-between"
		>
			<small class="text-xs text-neutral-600">© 2024 Simon Schwitzky. Alle Rechte vorbehalten.</small>
			<ul class="flex items-center space-x-4 text-xs text-neutral-600">
				<li>
					<a href="/legal" class="cursor-pointer hover:underline">Impressum</a>
				</li>
				<li>
					<a href="/legal" class="cursor-pointer hover:underline">Datenschutz</a>
				</li>
			</ul>
		</div>
	</div>
</footer>
