---
import { Button } from '../astro';
import { LuPhone } from 'react-icons/lu/index.js';
import { getTranslation } from 'utils/i18n';

const translations = {
	de: {
		about: 'Über',
		work: 'Arbeiten',
		editorial: 'Redaktion',
		testimonials: 'Meinungen',
		contact: 'Anruf vereinbaren',
	},
	en: {
		about: 'About',
		work: 'Work',
		editorial: 'Editorial',
		testimonials: 'Testimonials',
		contact: 'Schedule call',
	},
};

const translation = getTranslation(Astro.currentLocale, translations);

const links = [
	{ label: translation.about, href: '#about' },
	{ label: translation.work, href: '#work' },
	// { label: translation.editorial, href: '#editorial' },
	{ label: translation.testimonials, href: '#testimonials' },
];
---

<header class="z-20 flex w-full px-4 py-5 sm:px-12">
	<div class="mx-auto flex max-w-7xl flex-1 items-center">
		<span class="mr-auto flex flex-1 text-sm text-white">Simon Schwitzky</span>

		<nav class="hidden items-center text-white sm:flex">
			<ul class="flex items-center space-x-5 text-xs">
				{
					links.map((link) => (
						<li>
							<a
								href={link.href}
								class="block text-neutral-200 transition-colors hover:text-white hover:underline"
							>
								{link.label}
							</a>
						</li>
					))
				}
			</ul>
		</nav>

		<div class="ml-auto flex flex-1 justify-end">
			<Button
				icon={LuPhone}
				onclick="Calendly.initPopupWidget({url: 'https://calendly.com/mail-quu9'});return false;"
			>
				{translation.contact}
			</Button>
		</div>
	</div>
</header>
