---
interface Props {
	variant?: 'dark';
}

//
//let url = '/logo/white-orange.svg';
//if (variant === 'dark') {
//	url = '/logo/dark-orange.svg';
//}

import logo from 'assets/logo-2.svg';
import { Image } from 'astro:assets';
---

{/*<a href="/">simonschwitzky</a>*/}

<Image alt="" src={logo} class="h-6 w-6" />
